.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.none {
  display: none;
}

.button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity, scale;
  transition-property: opacity, scale;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 0) 250ms;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 0) 250ms, -webkit-transform cubic-bezier(0.4, 0, 0.2, 0) 250ms;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal-form__lable {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  margin-top: 4px;
  padding: 11px 0px 11px 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: border cubic-bezier(0.4, 0, 0.2, 0) 250ms;
}

.modal-form__lable:focus-within > .modal-form__input {
  outline: none;
  border-color: #2196f3;
}

.modal-form__icon {
  position: absolute;
  display: inline-block;
  left: 12px;
  top: 50%;
  fill: #000000;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 0) 250ms;
}

.modal-form__lable:focus-within > .modal-form__icon {
  outline: none;
  fill: #2196f3;
}

.modal-form__comment-area {
  margin-bottom: 20px;
}

.modal-form__comment {
  padding: 12px 16px;
  margin-top: 4px;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  -webkit-transition: border cubic-bezier(0.4, 0, 0.2, 0) 250ms, color cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: border cubic-bezier(0.4, 0, 0.2, 0) 250ms, color cubic-bezier(0.4, 0, 0.2, 0) 250ms;
}

.modal-form__comment:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .modal-form__checkbox-label {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .modal-form__checkbox-label {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__icon-tick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
}

.modal-form__checkbox:checked + .modal-form__icon-tick {
  background-origin: border-box;
  background-color: #2196f3;
  background-image: url(../images/tick.svg);
  background-size: contain;
  border-color: #2196f3;
}

.modal-form__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.modal-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-form__button-submit {
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 0) 250ms;
}

.modal-form__button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 0) 250ms;
}

.modal-form__button-close:hover {
  fill: #2196f3;
}

.modal-form__icon-close {
  width: 18px;
  height: 18px;
}

.logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
  .logo__header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
  .logo__header {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
  .logo__header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo__web {
  color: #2196f3;
}

.logo__studio {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .logo__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo__bottom {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .logo__bottom {
    margin-bottom: 20px;
  }
}

.logo__studio-footer {
  color: white;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .container__header {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .mobile-bar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .mobile-bar {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-bar {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  .mobile-header__button:hover, .mobile-header__button:focus {
    fill: #2196f3;
  }
  .mobile-header__button .mobile-menu__icon-cross {
    display: none;
  }
  .mobile-header__button.is-open .mobile-menu__icon-cross {
    display: block;
  }
  .mobile-header__button.is-open .mobile-header__button {
    display: none;
  }
  .mobile-menu {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: auto;
    background-color: white;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
  }
  .mobile-menu.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .mobile-menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 10px;
    margin-right: 15px;
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  .mobile-menu__button:hover, .mobile-menu__button:focus {
    fill: #2196f3;
  }
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 40px;
  }
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .site-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: #2196f3;
  }
  .site-nav__link-current {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: auto;
    padding: 0px 40px;
    margin-bottom: 64px;
  }
  .contacts__item:last-child {
    margin-bottom: 33px;
  }
  .contacts__item-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .contacts__item-email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .contacts__icon {
    display: none;
  }
  .social-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 40px 48px 40px;
  }
  .social-mobile_item:not(:first-child) {
    padding-right: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
  .social-mobile_item-li {
    padding-right: 10px;
  }
  .social-mobile_link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link,
  .site-nav__link-current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    list-style-type: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);
  }
  .site-nav__link:hover, .site-nav__link:focus,
  .site-nav__link-current:hover,
  .site-nav__link-current:focus {
    color: #2196f3;
  }
  .site-nav__link-current {
    position: relative;
    color: #2196f3;
  }
  .site-nav__link-current::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
  .contacts__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196f3;
  }
  .contacts__icon {
    margin-right: 8px;
    fill: currentColor;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 0);
  }
  .contacts__icon:hover, .contacts__icon:focus {
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link,
  .site-nav__link-current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    list-style-type: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);
  }
  .site-nav__link:hover, .site-nav__link:focus,
  .site-nav__link-current:hover,
  .site-nav__link-current:focus {
    color: #2196f3;
  }
  .site-nav__link-current {
    position: relative;
    color: #2196f3;
  }
  .site-nav__link-current::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -6px;
    height: 4px;
    width: 100%;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
  .contacts__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
  }
  .contacts__item:last-child {
    margin-left: 50px;
  }
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196f3;
  }
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 0);
  }
  .contacts__icon:hover, .contacts__icon:focus {
    fill: currentColor;
  }
}

.hero {
  text-align: center;
  max-width: 1600px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mob/mobhead.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob/mobhead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mob/mobhead@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob/mobhead@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding: 118px 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tab/tabhead.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tab/tabhead.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tab/tabhead@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tab/tabhead@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    padding: 200px 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/des/deshead.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/des/deshead.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/des/deshead@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/des/deshead@2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.about-company__icon {
  width: 70px;
  height: 70px;
}

.about-company__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.about-company__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}

.about-company__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .about-company__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-company__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .about-company__item:nth-child(2n) {
    margin-bottom: 30px;
  }
  .about-company__box {
    width: 354px;
  }
  .about-company__text {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .about-company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-company__item:not(:last-child) {
    margin-right: 30px;
  }
  .about-company__box {
    width: 270px;
  }
  .about-company__text {
    width: 270px;
  }
}

.section__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .section__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .section__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (max-width: 767px) {
  .section__title-work {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section__title-work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section__title-work {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .our-work {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .our-work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .our-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .section--no-padding-top {
    padding-bottom: 94px;
  }
  .our-work__item:not(:last-child) {
    margin-right: 30px;
  }
  .our-work__thumb {
    position: relative;
  }
  .our-work__animation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    height: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: white;
  }
}

.section--grey-background {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.our-team__item {
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

@media screen and (max-width: 767px) {
  .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__item {
    width: 354px;
  }
  .our-team__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .our-team__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item {
    width: 270px;
  }
  .our-team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.our-team__box {
  padding: 30px 0px;
  border: 1px solid #eeeeee;
}

.our-team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.our-team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.socials-holder {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.socials-holder__list:not(:last-child) {
  margin-right: 10px;
}

.socials-holder__icon {
  width: 20px;
  height: 20px;
}

.socials-holder__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 0) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 0) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 0) 250ms;
}

.socials-holder__link:hover, .socials-holder__link:focus {
  fill: white;
  background-color: #2196f3;
}

.our-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .our-customers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .our-customers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .our-customers__items {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-customers__items {
    width: 225px;
  }
  .our-customers__items:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .our-customers__items:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-customers__items {
    width: 170px;
  }
  .our-customers__items:not(:last-child) {
    margin-right: 30px;
  }
}

.our-customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 0) 250ms, border cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 0) 250ms, border cubic-bezier(0.4, 0, 0.2, 0) 250ms;
}

.our-customers__link:hover, .our-customers__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.our-customers__icons {
  width: 106px;
  height: 60px;
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-objects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-objects {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-objects {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

/*footer-contacts*/
@media screen and (max-width: 767px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts {
    display: inline-block;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 70px;
  }
}

.adress {
  font-style: normal;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .adress-objects {
    text-align: center;
  }
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: white;
}

.adress__link {
  color: #757575;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 0) 250ms;
}

.adress__link:hover, .adress__link:focus {
  color: #2196f3;
}

/*footer-links*/
@media screen and (max-width: 767px) {
  .footer-links {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer-links {
    margin-right: 93px;
  }
}

.footer-links__text {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: white;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-list:not(:last-child) {
  margin-right: 10px;
}

.footer-list__icon {
  width: 20px;
  height: 20px;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 0) 250ms;
}

.footer-list__icon:hover, .footer-list__icon:focus {
  fill: white;
}

.footer-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  fill: white;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 0) 250ms;
}

@media screen and (max-width: 767px) {
  .footer-list__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-list__link:hover, .footer-list__link:focus {
  background-color: #2196f3;
}

/*footer-form*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form_block {
    margin: 0 auto;
  }
}

.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: white;
}

@media screen and (max-width: 767px) {
  .footer-form__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-form__title {
    text-align: center;
  }
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .footer-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .footer-form__label {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__label {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__label {
    margin-right: 12px;
  }
}

.footer-form__field {
  padding: 15px 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .footer-form__field {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__field {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__field {
    width: 358px;
  }
}

.footer-form__field input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
}

@media screen and (max-width: 767px) {
  .footer-form__button {
    width: 200px;
    height: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-form__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: white;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .filter {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n + 4) {
    margin-bottom: 15px;
  }
  .filter__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .filter__item:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .filter__item:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__item:not(:last-child) {
    margin-right: 8px;
  }
}

.filter__button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  color: #000000;
  border-color: transparent;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 0) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 0) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 0) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 0) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 0) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 0) 250ms, box-shadow cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 0) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 0) 250ms, box-shadow cubic-bezier(0.4, 0, 0.2, 0) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 0) 250ms;
}

.filter__button:hover, .filter__button:focus {
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .projects__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__item {
    width: 354px;
  }
  .projects__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .projects__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    width: 370px;
  }
  .projects__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .projects__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.projects__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 0) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 0) 250ms;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__link {
    height: 100%;
  }
}

.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.projects__box {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: white;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 0) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 0) 250ms, -webkit-transform cubic-bezier(0.4, 0, 0.2, 0) 250ms;
}

@media screen and (max-width: 767px) {
  .projects__overlay {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__overlay {
    padding: 63px 24px;
  }
}

.projects-thumb {
  padding: 24px 20px;
  border: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-thumb {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.projects__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects__text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */