.about__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}
.about__text {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #8f95a5;
}
