@media screen and (min-width: 767px) {
  .about {
    padding-bottom: 40px;
  }
  .about__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.3;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
  }
  .about__text {
    font-size: 13px;
    line-height: 1.25;
    text-align: left;
    color: black;
    margin: 10px 15px;
    padding: 15px;
  }
  .about__text-imp {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    color: #682483;
    margin-right: 4px;
    margin-left: 4px;
  }
  .about__img {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .about__text-dec {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(86, 0, 94, 0.3);

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(86, 0, 94, 0.8);
    }
  }
  .about__text-dec2 {
    border-radius: 20px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(86, 0, 94, 0.3);

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(86, 0, 94, 0.8);
    }
  }
}
@media screen and (min-width: 768px) {
  .about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: -15px;
  }
  .about__img {
    display: flex;
    justify-content: center;
  }
  .about__title {
    display: flex;
    justify-content: center;
  }
  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .about__text {
    font-size: 15px;
    width: 300px;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .about__list {
    display: flex;
    justify-content: space-around;
    // flex-wrap: wrap;
  }
  .about__text {
    font-size: 15px;
    line-height: 1.25;
    text-align: left;
    color: black;
    width: 550px;
    padding: 25px;
  }
  .about__text-imp {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    color: #682483;
    margin-right: 4px;
    margin-left: 4px;
  }
  // .about__text-dec {
  //   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0);
  //   background-color: rgba(255, 255, 255, 0.5);
  //   box-shadow: 0px 4px 4px rgba(86, 0, 94, 0.3);

  //   &:hover,
  //   &:focus {
  //     box-shadow: 0px 4px 4px rgba(86, 0, 94, 0.8);
  //   }
  // }
  // .about__text-dec2 {
  //   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0);
  //   background-color: rgba(255, 255, 255, 0.5);
  //   box-shadow: 0px 4px 4px rgba(86, 0, 94, 0.3);

  //   &:hover,
  //   &:focus {
  //     box-shadow: 0px 4px 4px rgba(86, 0, 94, 0.8);
  //   }
  // }
}
