@media screen and (max-width: 767px) {
  .author {
    display: flex;
    flex-direction: column;
  }
  .author__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .author__list {
    display: flex;
    flex-direction: column;
  }
  .author__img {
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 100%;
    box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.034),
      0 6.7px 5.3px rgba(86, 0, 94, 0.048), 0 12.5px 10px rgba(86, 0, 94, 0.06),
      0 22.3px 17.9px rgba(86, 0, 94, 0.072),
      0 41.8px 33.4px rgba(86, 0, 94, 0.086), 0 50px 40px rgba(86, 0, 94, 0.5);
  }
  .author__text {
    padding: 0 40px;
    font-size: 17px;
    line-height: 1.25;
  }
}
