@media screen and (max-width: 767px) {
  .client {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    // background-image: linear-gradient(
    //   180deg,
    //   rgba(104, 36, 131, 1) 25%,
    //   rgba(236, 233, 254, 1) 100%
    // );
    // margin-right: -20px;
    // margin-left: -20px;
  }
  .client__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .client__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: white;
    transform: scale(1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.034),
      0 6.7px 5.3px rgba(86, 0, 94, 0.048), 0 12.5px 10px rgba(86, 0, 94, 0.06),
      0 22.3px 17.9px rgba(86, 0, 94, 0.072),
      0 41.8px 33.4px rgba(86, 0, 94, 0.086), 0 100px 80px rgba(86, 0, 94, 0.12);

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:hover,
    &:focus {
      transform: scale(1.1);
      box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.044),
        0 6.7px 5.3px rgba(86, 0, 94, 0.058),
        0 12.5px 10px rgba(86, 0, 94, 0.068),
        0 22.3px 17.9px rgba(86, 0, 94, 0.079),
        0 41.8px 33.4px rgba(86, 0, 94, 0.096),
        0 100px 80px rgba(86, 0, 94, 0.24);
    }
  }
  .client__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .client__text {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.25;
    margin: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    // background-image: linear-gradient(
    //   180deg,
    //   rgba(104, 36, 131, 1) 25%,
    //   rgba(236, 233, 254, 1) 100%
    // );
    // margin-right: -20px;
    // margin-left: -20px;
  }
  .client__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .client__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .client__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: white;
    transform: scale(1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.034),
      0 6.7px 5.3px rgba(86, 0, 94, 0.048), 0 12.5px 10px rgba(86, 0, 94, 0.06),
      0 22.3px 17.9px rgba(86, 0, 94, 0.072),
      0 41.8px 33.4px rgba(86, 0, 94, 0.086), 0 100px 80px rgba(86, 0, 94, 0.12);

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:hover,
    &:focus {
      transform: scale(1.1);
      box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.044),
        0 6.7px 5.3px rgba(86, 0, 94, 0.058),
        0 12.5px 10px rgba(86, 0, 94, 0.068),
        0 22.3px 17.9px rgba(86, 0, 94, 0.079),
        0 41.8px 33.4px rgba(86, 0, 94, 0.096),
        0 100px 80px rgba(86, 0, 94, 0.24);
    }
  }
  .client__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .client__text {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.25;
    margin: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    // background-image: linear-gradient(
    //   180deg,
    //   rgba(104, 36, 131, 1) 25%,
    //   rgba(236, 233, 254, 1) 100%
    // );
    // margin-right: -20px;
    // margin-left: -20px;
  }
  .client__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .client__title {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
  }
  .client__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.034),
      0 6.7px 5.3px rgba(86, 0, 94, 0.048), 0 12.5px 10px rgba(86, 0, 94, 0.06),
      0 22.3px 17.9px rgba(86, 0, 94, 0.072),
      0 41.8px 33.4px rgba(86, 0, 94, 0.086), 0 100px 80px rgba(86, 0, 94, 0.12);

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:nth-child(-n + 3) {
      background-color: rgba(255, 255, 255, 0.75);
      margin-bottom: 30px;
    }

    &:hover,
    &:focus {
      transform: scale(1.1);
      box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.044),
        0 6.7px 5.3px rgba(86, 0, 94, 0.058),
        0 12.5px 10px rgba(86, 0, 94, 0.068),
        0 22.3px 17.9px rgba(86, 0, 94, 0.079),
        0 41.8px 33.4px rgba(86, 0, 94, 0.096),
        0 100px 80px rgba(86, 0, 94, 0.24);
    }
  }
  .client__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .client__text {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.25;
    margin: 20px;
    border-top: 2px solid black;
  }
}
