@media screen and (max-width: 767px) {
  .price {
    position: relative;
    padding-top: 60px;
  }
  //   .price__title {
  //     // margin-bottom: 20px;
  //   }
  .price_list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 30px;
    padding: 30px 30px 0px 30px;
  }
  .price__item {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .price__item--after {
    &::after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      height: 4px;
      width: 100%;
      background-color: rgba(104, 36, 131, 1);
      border-radius: 2px;
    }
  }
  .price__name {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Pacifico;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.25;
    margin-bottom: 10px;
  }
  .price__inf {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
  }
  .price__inf1 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .price__number {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .price__number--big {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;

    color: rgba(104, 36, 131, 1);
  }
  .price__number--small {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    color: black;
  }
  .price__div {
    display: flex;
    justify-content: center;
  }
  .price__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #682483;
    border-radius: 50px;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border: 4px solid #682483;
    background-color: transparent;

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
    }
  }
  .price__link {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    color: #682483;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .price {
    position: relative;
    padding-top: 60px;
  }
  .price_list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 30px;
    padding: 30px 30px 0px 30px;
  }
  .price__item {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .price__item--after {
    margin: 0 auto;
    width: 400px;
    &::after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      height: 4px;
      width: 100%;
      background-color: rgba(104, 36, 131, 1);
      border-radius: 2px;
    }
  }
  .price__name {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Pacifico;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.25;
    margin-bottom: 10px;
  }
  .price__inf {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
  }
  .price__inf1 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .price__number {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .price__number--big {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;

    color: rgba(104, 36, 131, 1);
  }
  .price__number--small {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    color: black;
  }
  .price__div {
    display: flex;
    justify-content: center;
  }
  .price__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #682483;
    border-radius: 50px;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border: 4px solid #682483;
    background-color: transparent;

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
    }
  }
  .price__link {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    color: #682483;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);
  }
}
@media screen and (min-width: 1200px) {
  .price {
    position: relative;
    padding-top: 60px;
  }
  .price__title {
    margin-bottom: 30px;
  }
  .price_list {
    display: flex;
    justify-content: center;
  }
  .price__item {
    position: relative;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  .price__name {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Pacifico;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.25;
    margin-bottom: 10px;
  }
  .price__inf {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
  }
  .price__inf1 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  // .price--mar {
  //   margin-top: 20px;
  // }
  .price--mar2 {
    margin-bottom: 50px;
  }
  .price__number {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .price__number--big {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;

    color: rgba(104, 36, 131, 1);
  }
  .price__number--small {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    color: black;
  }
  .price__div {
    display: flex;
    justify-content: center;
  }
  .price__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #682483;
    border-radius: 50px;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border: 4px solid #682483;
    background-color: transparent;

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
    }
  }
  .price__link {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    color: #682483;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);
  }
}
