@media screen and (max-width: 767px) {
  .rewiew {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .rewiew__title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .rewiew_image {
    margin: 0 auto;
  }
  .slider {
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 100%;
    margin: 0 30px 15px 30px;
  }
  .slider .item img {
    object-fit: cover;
    border: none;
    box-shadow: none;
  }
  .slider .prev,
  .slider .next {
    position: absolute;
    // top: 0;
    top: 50%;
    width: auto;
    margin: -22px -20px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* При наведении на кнопки добавляем фон кнопок */
  .slider .prev:hover,
  .slider .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .slider-dots {
    text-align: center;
  }
  .slider-dots_item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,
  .slider-dots_item:hover {
    background-color: #aaa;
  }
  /* Анимация слайдов */
  .slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}

//   .rewiew_image {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 0 auto;
//     margin-bottom: 15px;
//   }
