@media screen and (max-width: 767px) {
  .hero_button {
    display: flex;
    align-self: flex-end;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    color: aliceblue;
    background-color: #682483;
    transform: scale(1);

    &:hover,
    &:focus {
      transition: 0.5s linear;
      background-position: -200% 0, 0 0;
      transform: scale(1.2, 1.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
      mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.6) 30%,
        #000 50%,
        rgba(0, 0, 0, 0.6) 70%
      );
      mask-size: 200%;
      animation: shine 2s infinite;
    }

    @keyframes shine {
      from {
        -webkit-mask-position: 150%;
      }

      to {
        -webkit-mask-position: -50%;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .hero_button {
    display: flex;
    align-self: flex-end;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    color: aliceblue;
    background-color: #682483;
    transform: scale(1);

    &:hover,
    &:focus {
      transition: 0.5s linear;
      background-position: -200% 0, 0 0;
      transform: scale(1.2, 1.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
      mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.6) 30%,
        #000 50%,
        rgba(0, 0, 0, 0.6) 70%
      );
      mask-size: 200%;
      animation: shine 2s infinite;
    }

    @keyframes shine {
      from {
        -webkit-mask-position: 150%;
      }

      to {
        -webkit-mask-position: -50%;
      }
    }
  }
}
