.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section {
  @media screen and (max-width: 767px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.none {
  display: none;
}
.main {
  background-color: #dee0e0;
  background-image: url(../img/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
