.logo {
  display: flex;
  justify-content: center;
  font-family: Berkshire Swash;
  margin-left: 15px;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.16;
  color: black;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);

  @media screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.logo:hover,
.logo:focus {
  color: #b39cff;
}
