$first-color: #212121;
$second-color: #757575;
$title-first-color: #2196f3;
$title-second-color: #000000;
$border-color: #ececec;
$border-second-color: #eeeeee;
$buttom-text-color: white;
$hero-color: #2f303a;
$bcg-color: #f5f4fa;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 0);
$animation-duration: 250ms;
