$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 0);
$animation-duration: 250ms;

@media screen and (max-width: 767px) {
  .section-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.3;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .section-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.3;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.3;
    text-align: center;
  }
}
